.smokeIcon {
  height: 10px;
}
.active {
  background-color: "#66B2FF";
  height: 50px;

}
.active:hover {
  background-color: "#66B2FF";
}
.nonActive {
  background-color: "#001e3c";
  height: 50px;
}
.nonActive:hover {
  background-color: "#66B2FF"
}
.listSecond {
  height: 24pt;
}